{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Home</title>
	<script src="https://js.stripe.com/v3/"></script>
	<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>
	<body class="p-0 m-0 h-full">
		<div class=" bg-black text-white font-semibold">

			<div class="flex justify-between mx-11 p-3">
				<div>
					<a href="{% url 'contact' %}">Contact
				</div>
				<div>
					<a href="{% url 'payment' %}">Subscribe | </a>
					{% if request.user.is_authenticated %}
					<a href="{% url 'logout' %}">Logout</a>
					{% else %}
					<a href="{% url 'signup' %}">Signup</a>
					{% endif %}
				</div>
	
			</div>
		
		</div>
		<h1 class="text-center text-5xl my-5 font-extrabold tracking-widest	">Omniscient</h1>
		{% include 'navbar.html' %}
		{% if messages %}
			{% for message in messages %}
			<div class=
			"
			p-4
			{% if message.tags == 'success' %}
			bg-green-100 rounded-lg py-5 px-6  text-base text-green-700 mb-3
			{% elif message.tags == 'info' %}
			bg-blue-100 rounded-lg py-5 px-6 text-base text-blue-700 mb-3
			{% elif message.tags == 'error' %}
			bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700
			{% endif %}
			" role="alert">
		
			  </div


			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		{% endif %}
				{% block content %}
				{% endblock content %}
				
				{% include 'footer.html' %}

	</body>
</html>
