{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="flex text-center justify-center mt-7 font-bold text-lg">
    <a href="{% url 'editProfile' %}" class="mx-6" >Edit Profile</a>
    <a href="{% url 'change-password' %}" class="mx-6" >Password</a>
    <a href="{% url 'billing' request.user.username %}" class="mx-6" >Billing</a>
  </div>

  <div class="max-w-lg mx-auto border-2 p-4 rounded-lg mt-10 mb-10"> 
    <h1 class="text-xl font-bold">Plan:    {{user.subscription.pricing.name}}
        </h1>
        <p class="text-md font-bold">Status: {{user.subscription.status|title}}</p>

    {% if user.subscription.status != "canceled" and user.subscription.status != "trialing" and user.subscription.pricing.name != "Free" %}
    <form method="POST" action="{% url 'cancel'  request.user.username %}">
        {% csrf_token %}
        {{form|crispy}}
        
        <button class="bg-sky-600 p-3 rounded-lg text-white font-bold mt-4" type="submit">Cancel subsciption</button>
    </form>
    {% else %}
    <button class="bg-sky-600 p-3 rounded-lg text-white font-bold mt-4" type="submit"><a href="{% url 'payment' %}">Subscribe!</a></button>

    {% endif %}
    </div>





{% endblock content %}