
{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}

<div class="grid grid-cols-4 gap-4 mx-6 mt-5">
  {% for profile in profiles %}
  <a href="{% url 'single-profile' profile.slug%}">
  <div class="bg-black text-white font-semibold flex justify-between rounded-lg p-5">
    <div>
      <img class="rounded-full h-20	" src="{{profile.image.url}}" />
    </div>
    <div>
      <h1>{{profile.name}}</h1>
      <p>{{profile.bio}}</p>
      <small>{{profile.uni}}</small>
    </div>

  </div>

  </a>
  {% endfor %}
</div>

{% endblock content %}


