{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
<div class="flex text-center justify-center mt-7 font-bold text-lg">
  <a href="{% url 'editProfile' %}" class="mx-6" >Edit Profile</a>
  <a href="{% url 'change-password' %}" class="mx-6" >Password</a>
  <a href="{% url 'billing' request.user.username %}" class="mx-6" >Billing</a>
</div>

<section class="hero text-center flex justify-center container max-w-screen-lg mx-auto pb-10">

  <img class="mt-5 rounded-full h-60	 flex justify-center	text-center" src="{{request.user.profile.image.url}}" />

</section>

<div class="max-w-lg mx-auto mt-10 mb-10"> 
  <form method="POST" action="" enctype="multipart/form-data">
       {% csrf_token %}
       {{form|crispy}}
       <!-- <a class="text-blue-600 font-bold " href="{% url 'password-reset' %}"> Forgot password </a> -->
  
      <button class="text-white rounded-lg hover:opacity-70 transition duration-3000  font-bold bg-sky-600 p-3 " type="submit">Update</button>
      </form>
  
  </div>
{% endblock content %}