
{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Modal toggle -->
  <div>

  <section class="hero text-center flex justify-center container max-w-screen-lg mx-auto pb-10">
    
    <img class="mt-5 rounded-full h-60	 flex justify-center	text-center" src="{{profile.image.url}}" />
  </section>

  <h1 class="text-center text-5xl  font-extrabold mt-4 font-press-start">{{profile.name}}</h1>

  <h1 class="text-center text-xl mx-96   mt-4 font-press-start">{{profile.bio}}</h1>
 <div class="text-center text-md gap-10 flex justify-center font-extrabold mt-4 font-press-start">
<a href="{{profile.twitter}}" class="twitter-follow-button" data-show-count="false">
  <i  class="text-3xl fa-brands fa-twitter"></i>
</a>
<a href="mailto:{{profile.email}}">
  <i class="text-3xl fa-solid fa-inbox"></i>

</a>
{% if request.user == profile.user %}
<a href="{% url 'editProfile' %}" class="text-3xl" >Edit</a>
{% endif %}
 </div>
  <!-- <a href="https://twitter.com/{{profile.twitter}}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
  <div>

  </div>



  <div class="lg:grid grid-cols-1 gap-4 mx-96 mt-5">
    <h1 class="font-bold text-lg">Latest posts</h1>

    {% for post in posts %}
    <a href="{% url 'article-detail' post.slug%}">
    <div class=" text-black font-semibold flex gap-12 justify-between rounded-lg p-5">
      <div>
        <img class="rounded-full h-40	" src="{{post.image.url}}" />
      </div>
      <div>
        <h1>{{post.title}}</h1>
        <p>{{post.description|truncatechars:120}}</p>
        <small>{{post.views}}</small>
      </div>
  
    </div>
  
    </a>
    <hr class="border-1 border-black  drop-shadow-xl"/>
    {% endfor %}
  </div>


  </div>
{% endblock content %}


