{% extends 'base.html' %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .asteriskField {
        display: none;
    }</style>
<h1 class="text-center font-bold text-5xl mt-5">Contact</h1>
<p class="text-center text-base font-semibold mt-5">If you have any problems with our serivces please use the contact form below so we can aid you.</p>
<div class="max-w-lg mx-auto mt-10"> 
<form method="POST" action="">
     {% csrf_token %}
     {{form|crispy}}
    <button class="text-white rounded-lg hover:opacity-70 transition duration-3000  font-bold bg-indigo-500 p-3 " type="submit">Submit</button>
    </form>
</div>
{% endblock content %}