
{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% block content %}


 <div>
<div class="mx-40 mt-5">
  <h1 class="font-semibold text-lg">{{post.category}}</h1> 
<h1 class="font-semibold text-lg mb-6">{{post.title}}</h1>
  <img class="object-cover 	rounded-md" src="{{post.image.url}}" />
  <div class="flex justify-between mt-6">
    <div>
      <p class="font-bold text-lg"><a href="{% url 'single-profile' post.writer.slug%}">By : {{post.writer}}</a></p>
      <small>Posted {{post.created_date|timesince}} ago</small>
    </div>
    
    <div>
      {% if fav%}
      <a href="{% url 'favourite_add' post.slug %}" class="p-2 bg-indigo-500 rounded-lg text-white font-vold">Unsave</a>
      {% else %}
      <a href="{% url 'favourite_add' post.slug %}" class="p-2 bg-indigo-500 rounded-lg text-white font-vold">Save</a>
      {%endif%}
    </div>
  </div>
  <p class="m-5 leading-10	text-lg font-medium">{{post.description}}</p>





<div class="  "> 
  <form method="POST" action="" id="friend_form">
       {% csrf_token %}
       {{form|crispy}}
      <button class="text-white rounded-lg hover:opacity-70 transition duration-3000  font-bold bg-indigo-500 p-3 " type="submit">Comment</button>
      </form>
  </div>

  {% for post in post.comments.all %}
<h1>{{post.description}}</h1>
{% endfor %}
<h1 class="text-center text-3xl">Similar posts</h1>
  <div class="grid grid-cols-3 gap-7 mx-6 mt-5 content-center">
    {% for post in posts %}
    <a href="{% url 'article-detail' post.slug%}">
    <div class="text-black font-semibold flex justify-between rounded-lg p-5">
      <div>
        <img class="rounded-full h-20	" src="{{post.image.url}}" />
      </div>
      <div class="pl-3">
        <h1>{{post.title}}</h1>
        <p>{{post.description|truncatechars:60}}</p>
        <small>{{post.profile}}</small>
      </div>
  
    </div>
  
    </a>
    {% endfor %}
  </div>
  
</div>



<input type="hidden" id="refreshed" value="false">

  <script>
//     $(function() {
//     $("#friend_form").submit(function(event) {
//         // Stop form from submitting normally
//         event.preventDefault();
//         var friendForm = $(this);
//         // Send the data using post
//         var posting = $.post( friendForm.attr('action'), friendForm.serialize() );
//         // if success:
//         posting.done(function(data) {
//             // success actions, maybe change submit button to 'friend added' or whatever
//         });
//         // if failure:
//         posting.fail(function(data) {
//             // 4xx or 5xx response, alert user about failure
//         });
//     });
// });
    $(window).load(function(){
        if ($('#refreshed').val() == "false") {
          $('#refreshed').val("true"); 
        }
        else {
          $('#refreshed').val("false");
          location.reload();
        }
      });
    </script>
  
{% endblock content %}


